body {
    font-size: 12px;
    font-family: sans-serif;
}

.inline {
    display: inline-block;
}

.page {
    margin: 10px;
}

.page select {
    width: 230px;
}

.page:first-child {
    margin-left: 0px;
}

.page:last-child {
    margin-right: 0px;
}

.links {
    display: flex;
    align-items: flex-start;
}

.game {
    display: none;
}

.game.active {
    display: block;
}

ul.nomargin {
    margin: 0;
    padding: 0;
}

ul.inline {
    margin: 0;
    padding: 0;
}

.game li {
    padding: 10px;
    margin-right: 5px;
    list-style: none;
    border: thin solid #ccc;
}

.inline h3 {
    margin-bottom: 5px;
}

.inline h4 {
    margin: 5px 0;
}

.working {
    font-size: 10px;
    color: red;
}

.cloudbet {
    color: #7171C6;
}

.sportsbet {
    color: #FF9912;
}

.sportsbetting {
    color: #EE4000;
}

.betcoin {
    color: crimson;
}

.fairlay {
    color: lightseagreen;
}

.nitrogensports {
    color: green;
}
